* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #FFFCE8;
  background-color: black
}

form {
  margin-top: 30px;
  margin-bottom: 40px;
}

form button {
  background-color: #FFC95C;
  border-radius: 5px;
}

button,
input[type="text"] {
  padding: 5px;
}

button:hover {
  cursor: pointer;
}

#shopping-list-item {
  width: 250px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.shopping-list {
  list-style: none;
  padding-left: 0;
}

.shopping-list>li {
  margin-bottom: 5px;
  border: 1px solid #333333;
  background-color: #333333;
  border-radius: 10px;
  padding: 20px;
}

.shopping-item {
  display: block;
  color: #FFFCE8;
  font-style: italic;
  font-size: 20px;
  margin-bottom: 15px;
}

.shopping-item__checked {
  text-decoration: line-through;
}

.shopping-item-delete {
  background-color: #FF6F5C;
  border-radius: 5px;
}

.shopping-item-toggle {
  background-color: #98E278;
  border-radius: 5px;
}